
/* Footer */
.footer {
    background-color:rgba(69, 67, 67, 0.148);
    padding: 2px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    color: rgb(162, 159, 159);
    height: 4em;
  }